/* Importações do Tailwind */
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111111;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
  overflow: hidden;
}

button {
  margin-top: 1.5rem;
  padding: 3px;
  font-weight: 200;
  font-size: 12px;
}
